# Основные зависимости
requests>=2.31.0,<3.0.0
python-chess>=1.999,<2.0
matplotlib>=3.8.0,<4.0
notebook>=6.0.0,<7.0.0

# Для совместимости и сборки пакетов
setuptools>=65.0.0,<70.0.0
wheel>=0.40.0,<1.0.0